#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Ans:- A database is an organized collection of data that is stored and managed on a computer system. Databases are used to store and retrieve large amounts of information in a structured and efficient manner, enabling easy access, manipulation, and analysis of the data.

SQL and NoSQL are two types of databases that differ in their data model, schema, and structure.

#### SQL (Structured Query Language):- SQL databases are relational databases that store data in tables with pre-defined schemas. These tables have rows and columns, and relationships are established between tables by using foreign keys. SQL databases follow ACID (Atomicity, Consistency, Isolation, and Durability) principles, which ensures data consistency, reliability, and transactional integrity. Some examples of SQL databases include MySQL, Oracle, and PostgreSQL.

 #### NoSQL (Not Only SQL):- NoSQL databases are non-relational databases that store data in documents, key-value pairs, graph, or column-family formats. NoSQL databases have a flexible schema that allows for easy changes to the data structure, making them suitable for handling unstructured and semi-structured data. NoSQL databases do not follow the ACID principles, and instead, use BASE (Basically Available, Soft-state, Eventually Consistent) principles to ensure high scalability and availability. Some examples of NoSQL databases include MongoDB, Cassandra, and DynamoDB.

 SQL databases are ideal for structured and consistent data that require strict data integrity, while NoSQL databases are suitable for semi-structured and unstructured data that need to be processed quickly and with high scalability.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Ans:- DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the database schema. DDL commands are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

#### CREATE - This command is used to create new database objects such as tables, views, indexes, and constraints. 

#### DROP - This command is used to delete existing database objects.

#### ALTER - This command is used to modify the structure of an existing database object.

#### TRUNCATE - This command is used to delete all the data in a table but keeps the table structure intact.

DDL commands are used to define and manage the database schema, and they allow database administrators to create, modify, and delete database objects as needed. The CREATE, DROP, ALTER, and TRUNCATE commands are used for creating, deleting, modifying, and emptying tables, respectively.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Ans:-DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate the data within a database. DML commands are used to add, modify, and remove data from database tables.

#### INSERT - This command is used to add new data to a table,For example, to insert a new row into the "employees" table with the name "John", age "25", and department "Sales", the following SQL statement can be used:
INSERT INTO employees (name, age, department) VALUES ('John', 25, 'Sales');

#### UPDATE - This command is used to modify existing data in a table. For example, to update the department for the employee with the name "John" to "Marketing", the following SQL statement can be used:
UPDATE employees SET department = 'Marketing' WHERE name = 'John';

#### DELETE - This command is used to remove data from a table. or example, to delete all the rows in the "employees" table where the age is less than 25, the following SQL statement can be used:

DELETE FROM employees WHERE age < 25;

In [ ]:
import mysql.connector
INSERT INTO employees (name, age, department) VALUES ('John', 25, 'Sales');

#### Q4. What is DQL? Explain SELECT with an example.

#### Ans:-DQL stands for Data Query Language, which is used to retrieve data from a database. The SELECT statement is one of the most commonly used DQL commands and is used to retrieve data from one or more tables in a database.

#### SELECT column1, column2, ... FROM table_name WHERE condition;

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')

# Create a cursor object
cursor = conn.cursor()

# Execute a CREATE TABLE statement
cursor.execute('''CREATE TABLE employees
                (id INTEGER PRIMARY KEY,
                 name TEXT,
                 age INTEGER,
                 department TEXT)''')

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

In [12]:
import sqlite3

# Open a connection to the database
conn = sqlite3.connect('example.db')

# Create a cursor object
cursor = conn.cursor()

# Execute a SELECT statement to retrieve data from a table
cursor.execute("SELECT name, age, department FROM employees WHERE age > 25")

# Fetch the results of the query
results = cursor.fetchall()

# Print the results
for row in results:
    print(f"Name: {row[0]}, Age: {row[1]}, Department: {row[2]}")

# Close the connection
conn.close()

OperationalError: no such table: employees

#### Q5. Explain Primary Key and Foreign Key.

#### Ans:-In a relational database, a primary key and a foreign key are two important concepts that are used to establish relationships between tables.

A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. In other words, a primary key ensures that there are no duplicate rows in the table. The primary key is used as a reference point for other tables that establish a relationship with this table.

CREATE TABLE customers (
    
id INTEGER PRIMARY KEY,
   
   name TEXT,
   
   email TEXT

);

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Ans:-To connect to a MySQL database using Python, you need to use a library called mysql-connector-python. Here's an example of how to connect to a MySQL database and execute a SELECT statement using this library:

In [ ]:
import mysql.connector

# Connect to the database
cnx = mysql.connector.connect(user='username', password='password', host='localhost', database='database_name')

# Create a cursor object
cursor = cnx.cursor()

# Execute a SELECT statement
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetch the results of the query
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

#### Q7. Give the order of execution of SQL clauses in an SQL query.

#### Ans:-he order of execution of SQL clauses in an SQL query is:

#### FROM clause: This clause specifies the table or tables from which to retrieve data.

#### JOIN clause: If the query involves more than one table, the JOIN clause is used to specify how the tables are related to each other.

#### WHERE clause: This clause is used to filter the rows returned by the query based on a specified condition.

#### GROUP BY clause: This clause is used to group the rows returned by the query based on one or more columns.

#### HAVING clause: This clause is used to filter the groups produced by the GROUP BY clause based on a specified condition.

#### SELECT clause: This clause specifies the columns to be returned in the query result.

#### ORDER BY clause: This clause is used to sort the rows returned by the query based on one or more columns.

#### LIMIT clause: This clause is used to limit the number of rows returned by the query.

Note that not all of these clauses are required in every query, and the order in which they are used can vary depending on the specific requirements of the query. However, this is the typical order in which the clauses are used in a complex query involving multiple tables and conditions.