#### Q1. List any five functions of the pandas library with execution.

#### read_csv(): This function is used to read a CSV (comma-separated values) file and return a pandas DataFrame object.

In [2]:
import pandas as pd

# read a CSV file into a DataFrame object
df = pd.read_csv('services.csv')

# print the first 5 rows of the DataFrame
print(df.head())

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                               None   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]

#### groupby(): This function is used to group the rows of a DataFrame based on the values in one or more columns.

In [3]:
import pandas as pd

# create a DataFrame object
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35, 40, 45, 50],
    'score': [80, 90, 85, 95, 90, 80]
}
df = pd.DataFrame(data)

# group the DataFrame by the 'name' column and calculate the mean of each group
grouped = df.groupby('name').mean()

# print the resulting DataFrame
print(grouped)

          age  score
name
Alice    32.5   87.5
Bob      37.5   90.0
Charlie  42.5   82.5

#### concat(): This function is used to concatenate two or more DataFrames vertically or horizontally.

In [4]:
import pandas as pd

# create two DataFrame objects
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [4, 5, 6], 'B': [7, 8, 9]})

# concatenate the two DataFrames vertically
result = pd.concat([df1, df2])

# print the resulting DataFrame
print(result)

   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9

#### drop(): This function is used to remove one or more rows or columns from a DataFrame.

In [5]:
import pandas as pd

# create a DataFrame object
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'score': [80, 90, 85]
}
df = pd.DataFrame(data)

# drop the 'score' column from the DataFrame
df = df.drop('score', axis=1)

# print the resulting DataFrame
print(df)

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

#### fillna(): This function is used to fill missing values in a DataFrame with a specified value or method.

In [6]:
import pandas as pd
import numpy as np

# create a DataFrame object with missing values
data = {
    'A': [1, 2, np.nan],
    'B': [4, np.nan, np.nan],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)

# fill the missing values in column 'A' with 0
df['A'] = df['A'].fillna(0)

# fill the missing values in column 'B' with the mean of column 'B'
df['B'] = df['B'].fillna(df['B'].mean())

# print the resulting DataFrame
print(df)

     A    B  C
0  1.0  4.0  7
1  2.0  4.0  8
2  0.0  4.0  9

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [19]:
import pandas as pd

def reindex_df(df):
    """
    Re-indexes a Pandas DataFrame with a new index that starts from 1
    and increments by 2 for each row.
    """
    # get the number of rows in the DataFrame
    num_rows = df.shape[0]
    
    # create a new index using the range function and multiply by 2
    new_index = range(1, num_rows * 2, 2)
    
    # set the new index on the DataFrame
    df.index = new_index
    
    # return the updated DataFrame
    return df
# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# call the reindex_df function
df = reindex_df(df)

# print the updated DataFrame
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [8]:
# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# call the reindex_df function
df = reindex_df(df)

# print the updated DataFrame
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. Thefunction should print the sum to the console.For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function shouldcalculate and print the sum of the first three values, which is 60.

In [21]:
import pandas as pd

def sum_first_three(df):
    """
    Iterates over a Pandas DataFrame and calculates the sum of the first three
    values in the 'Values' column. Prints the sum to the console.
    """
    # initialize a variable to hold the sum
    total = 0
    
    # iterate over the first three rows of the DataFrame
    for i in range(3):
        # add the value in the 'Values' column to the total
        total += df.loc[i, 'Values']
    
    # print the total to the console
    print('The sum of the first three values in the "Values" column is:', total)
    # create a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# call the sum_first_three function
sum_first_three(df)

The sum of the first three values in the "Values" column is: 60

In [20]:
# create a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# call the sum_first_three function
sum_first_three(df)

The sum of the first three values in the "Values" column is: 60

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column'Word_Count' that contains the number of words in each row of the 'Text' column.

In [26]:
import pandas as pd

def add_word_count(df):
    """
    Creates a new column in a Pandas DataFrame named 'Word_Count', containing the
    number of words in each row of the 'Text' column.
    """
    # use the apply method to create a new column containing the word count for each row
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    
    # return the updated DataFrame
    return df

# create a sample DataFrame
df = pd.DataFrame({'Text': ['Hello, world!', 'This is a test.', 'I like pandas.']})

# call the add_word_count function
df = add_word_count(df)

# print the updated DataFrame
print(df)

              Text  Word_Count
0    Hello, world!           2
1  This is a test.           4
2   I like pandas.           3

In [25]:
# create a sample DataFrame
df = pd.DataFrame({'Text': ['Hello, world!', 'This is a test.', 'I like pandas.']})

# call the add_word_count function
df = add_word_count(df)

# print the updated DataFrame
print(df)

              Text  Word_Count
0    Hello, world!           2
1  This is a test.           4
2   I like pandas.           3

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

#### Ans:-DataFrame.size() and DataFrame.shape() are both methods of Pandas DataFrame, but they return different values:

#### DataFrame.size(): This method returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. In other words, it returns the total number of cells in the DataFrame. The return value of DataFrame.size() is an integer.

#### DataFrame.shape(): This method returns a tuple containing the number of rows and columns in the DataFrame, in that order. In other words, it returns the dimensions of the DataFrame. The return value of DataFrame.shape() is a tuple of integers.

In [27]:
#difference between DataFrame.size() and DataFrame.shape():
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# print the size of the DataFrame
print('Size of DataFrame:', df.size)

# print the shape of the DataFrame
print('Shape of DataFrame:', df.shape)

Size of DataFrame: 9
Shape of DataFrame: (3, 3)

#### Q6. Which function of pandas do we use to read an excel file?

#### Ans:-read an Excel file into a Pandas DataFrame, we use the read_excel() function provided by Pandas.

In [28]:
import pandas as pd

# read the Excel file into a DataFrame
df = pd.read_excel('MSL PO RISHIKESH.xlsx')

# print the DataFrame
print(df)

    Part Code                                   Part Description  INUK024  \
0     4816133  Packaged VOOC Cable DL129 White VOOC Cable USB...     21.0
1     4907039            Screen OPPO F19/OPPO A74 for Aftersales      1.0
2     4130179  Screen OPPO Reno7/OPPO F21 Pro (CPH2363) OLED ...      9.0
3     4908343                    Screen OPPO F19s for Aftersales      9.0
4     4908793  Screen OPPO Reno5 F/F19 Pro/Reno5 Lite/A94(5% ...      9.0
5     4902859                                     Touch With LCD      3.0
6     5473745  The power adapter @DC9V2A OP92CAIN USB socket ...      2.0
7     4905499   Screen F17/A73(CPH2095/CPH2099) for Aftersales-1     15.0
8     4903313                                     Touch With LCD      3.0
9     4905106                                Screen OPPO A53 16M      1.0
10    4130256  Screen OPPO Reno8 5G(PGBM10/CPH2359) OLED SDC ...     10.0
11    4906115  Screen A5s Red/Blue/Gold/Black General purpose...      NaN
12    4130040  Screen OPPO Reno7 5G/OPPO Find X5 Lite (CPH237...      3.0
13    4904079       Touch With LCD A12 Blue/Black for aftersales      1.0
14    4904027                                  ScreenFA142 Black      NaN
15    4907272  Screen OPPO A15&A15s(CPH2185&CPH2179) for afte...      5.0
16    4908581            Screen OPPO A55(CPH2325) for Aftersales      4.0
17    2181180  Micro cable 1m USB male/Micro DL125 white OPP ...     26.0
18    4903328              Touch With LCD A91/F15 for Aftersales     14.0
19    4908719  Screen OPPO A94 5G/Reno5 Z/F19 Pro+(5% glue am...      5.0
20    4907749  Screen OPPO Reno6 5G Black/Stellar Black for A...      1.0
21    4130240  Cover as-screen OPPO A57/A77(CPH2387/CPH2385) ...      3.0
22    4907222                           Screen OPPO A54(CPH2239)      3.0
23    4130358  Cover as-screen OPPO A17/A17k (CPH2471/CPH2477...      1.0
24    4130316  Screen OPPO F21s Pro 5G/OPPO Reno8 Z 5G（CPH245...      2.0
25    4130059  Screen OPPO A96&OPPO K10 (CPH2333/CPH2373) Gla...      NaN
26    5474225  Mobile phone adapter @DC11V 7.3A VCB8GAIH USB3...      NaN
27    4908943        Screen OPPO A16k(CPH2349/51) for Aftersales      1.0
28    4909108  Screen OPPO Reno7 Pro 5G(PFDM00/CPH2293) Start...      NaN
29    4130264  Screen OPPO Reno8 Pro+/21301 (PFZM10/CPH2357) ...      1.0
30    5473234  The power adapter @DC5V 2A OP52CBIN USB Female...      1.0
31    5474224  Mobile phone adapter @DC10V 6.5A VCA7GCIH USB3...      4.0
32    5473904  The power adapter @DC5V 6A VC56CAIN USB3.0 whi...      2.0
33    8550445                                           Earphone      6.0
34    4904988                                     Screen F17 Pro      8.0
35    4907752   Screen OPPO Reno6 5G Green/Aurora for Aftersales      3.0
36    4110009  Screen OPPO A36 (PESM10) Glass BOE/Helitai Bal...      1.0
37    4130035  Screen OPPO F21 Pro 5G/OPPO Reno7 Z 5G/OPPO Re...      1.0
38    5474053  The power adapter @DC11V 3A VCB3GAIN USB3.0 wh...      1.0
39    5473404                                      Power adapter      3.0
40    4807578  packed earphone MH135  typeCplug single line w...      6.0
41    4816132      Packaged  Cable DL143 White USB-A to USB-C IN      NaN

    INUK025  stk  PO  actual PO
0      10.0    6  -4         10
1       3.0    0  -3          2
2       4.0    1  -3          2
3       2.0    0  -2          2
4       2.0    0  -2          2
5       2.0    0  -2          1
6       2.0    0  -2          4
7       3.0    2  -1          4
8       2.0    1  -1          1
9       1.0    0  -1          1
10      1.0    0  -1          2
11      1.0    0  -1          1
12      1.0    0  -1          2
13      1.0    0  -1          1
14      1.0    0  -1          1
15      2.0    1  -1          1
16      1.0    0  -1          1
17      6.0    5  -1          5
18      2.0    2   0          3
19      1.0    1   0          2
20      NaN    0   0          1
21      1.0    1   0          1
22      NaN    0   0          1
23      NaN    0   0          1
24      NaN    0   0          1
25      NaN    0   0          1
26      NaN    0   0          2
27      NaN    0   0          1
28      NaN    0   0          1
29      NaN    0   0          1
30      NaN    0   0          4
31      1.0    1   0          2
32      NaN    0   0          5
33      5.0    5   0          5
34      1.0    2   1          2
35      NaN    1   1          1
36      NaN    1   1          1
37      1.0    2   1          1
38      NaN    2   2          3
39      NaN    2   2          2
40      NaN    2   2          5
41      1.0    4   3         10

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column'Username' in df that contains only the username part of each email address.The username is the part of the email address that appears before the '@' symbol. For example, if theemail address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'column.

In [29]:
import pandas as pd

def extract_username(df):
    # create a new column 'Username' by applying a lambda function to the 'Email' column
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    
    return df
# create a sample DataFrame
df = pd.DataFrame({'Email': ['mandeepnegikdw@gmail.com', 'maddtnegiktd@gmail.com', 'anoymous.o6@gmail.com']})

# call the extract_username() function to extract the usernames and create a new column
df = extract_username(df)

# print the modified DataFrame
print(df)

                      Email        Username
0  mandeepnegikdw@gmail.com  mandeepnegikdw
1    maddtnegiktd@gmail.com    maddtnegiktd
2     anoymous.o6@gmail.com     anoymous.o6

In [33]:
import pandas as pd
def extract_username(df):
    df['username'] = df['Email'].apply (lambda x : x.split('@')[0])
    return df
df = pd.DataFrame({'Email':['john.doe@example.com','jon.doe@example.com','john_cena.doe@example.com']}) 
df = extract_username(df)
print(df)

                       Email       username
0       john.doe@example.com       john.doe
1        jon.doe@example.com        jon.doe
2  john_cena.doe@example.com  john_cena.doe

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selectsall rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. Thefunction should return a new DataFrame that contains only the selected rows.For example, if df contains the following values
* A B C
* 0 3 5 1
* 1 8 2 7
* 2 6 9 4
* 3 2 3 5
* 4 9 1 2 
#### Your function should select the following rows: 
* A B C
* 1 8 2 7
* 4 9 1 2
#### The function should return a new DataFrame that contains only the selected rows.

In [35]:
import pandas as pd

def select_rows(df):
    # use boolean indexing to select rows where 'A' > 5 and 'B' < 10
    selected_rows = df.loc[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows
# create a sample DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})

# call the select_rows() function to select the desired rows
selected_rows = select_rows(df)

# print the selected rows
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [55]:
import pandas as pd

def calculate_stats(df):
    mean = df['a'].mean()
    median = df['a'].median()
    std_dev = df['a'].std()
    return mean, median, std_dev
data = {"a":[1,2,3,4],
       "b":[4,5,6,7],
       "c":["sudh" , "krish","hitesh","navin"]}
df = pd.DataFrame(data,index = ['a','b','c','d'])

mean, median, std_dev = calculate_stats(df)
print('Mean:', mean)
print('Median:', median)
print('Standard deviation:', std_dev)

Mean: 2.5
Median: 2.5
Standard deviation: 1.2909944487358056

In [54]:
import pandas as pd

def calculate_stats(df):
    mean = df['a'].mean()
    median = df['a'].median()
    std_dev = df['a'].std()
    return mean, median, std_dev

# create a sample DataFrame
data = {"a": [1, 2, 3, 4],
        "b": [4, 5, 6, 7],
        "c": ["sudh", "krish", "hitesh", "navin"]}
df = pd.DataFrame(data, index=['a', 'b', 'c','d'])

# calculate statistics and print the results
mean, median, std_dev = calculate_stats(df)
print('Mean:', mean)
print('Median:', median)
print('Standard deviation:', std_dev)

Mean: 2.5
Median: 2.5
Standard deviation: 1.2909944487358056

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [58]:
import pandas as pd

def moving_average(df):
    window_size = 7
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df
df = pd.DataFrame({'Date': ['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05', '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09', '2022-02-10'], 
                   'Sales': [10, 12, 8, 15, 20, 17, 22, 18, 13, 15]})

df = moving_average(df)

print(df)

         Date  Sales  MovingAverage
0  2022-02-01     10      10.000000
1  2022-02-02     12      11.000000
2  2022-02-03      8      10.000000
3  2022-02-04     15      11.250000
4  2022-02-05     20      13.000000
5  2022-02-06     17      13.666667
6  2022-02-07     22      14.857143
7  2022-02-08     18      16.000000
8  2022-02-09     13      16.142857
9  2022-02-10     15      17.142857

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
* 0 2023-01-01
* 1 2023-01-02
* 2 2023-01-03
* 3 2023-01-04
* 4 2023-01-05
* Your function should create the following DataFrame:

Date Weekday
* 0 2023-01-01 Sunday
* 1 2023-01-02 Monday
* 2 2023-01-03 Tuesday
* 3 2023-01-04 Wednesday
* 4 2023-01-05 Thursday
* The function should return the modified DataFrame.

In [62]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to a datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    # Create a new column 'Weekday' using the weekday_name attribute
    df['Weekday'] = df['Date'].dt.weekday
    return df

# Create a sample DataFrame
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

# Add the 'Weekday' column using the add_weekday_column function
df = add_weekday_column(df)

# Print the modified DataFrame
print(df)

        Date  Weekday
0 2023-01-01        6
1 2023-01-02        0
2 2023-01-03        1
3 2023-01-04        2
4 2023-01-05        3

In [65]:
df

        Date  Weekday
0 2023-01-01        6
1 2023-01-02        0
2 2023-01-03        1
3 2023-01-04        2
4 2023-01-05        3

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [63]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

In [71]:
jan_2023 = pd.date_range(start = '2023-01-01',end ='2023-01-31')

In [72]:
jan_2023

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?