#Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [1]:
def sort_list_of_tuples(lst):
    return sorted(lst, key=lambda x: x[1])

lst = [(1, 3), (3, 2), (2, 1)]
print(sort_list_of_tuples(lst))

[(2, 1), (3, 2), (1, 3)]

In [2]:
def sort_list_of_tuples(lst):
    return sorted(lst, key=lambda x: x[1], reverse=True)

lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print(sort_list_of_tuples(lst))

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x : x**2 , numbers))

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [3]:
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x % 2== 0,l))

[2, 6, 60, 90, 120, 46]

#Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [1]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = tuple(map(lambda x: str(x), lst))
print(result)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [2]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
tuple(map(lambda x : str(x),lst))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

#Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [4]:
from functools import reduce

In [5]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,13,24,15]

In [6]:
reduce(lambda x,y : x+y , lst)

305

In [11]:
from functools import reduce
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,13,24,25]
reduce=reduce(lambda x,y : x+y , lst)
print(reduce)

315

In [13]:
from functools import reduce
lst=[i for i in range(1,26)]
reduce=reduce(lambda x,y : x*y , lst)
print(reduce)

15511210043330985984000000

In [14]:
from functools import reduce
lst=[i for i in range(1,26)]
reduce=reduce(lambda x,y : x+y , lst)
print(reduce)

325

In [15]:
from functools import reduce
lst=[i for i in range(1,26)]
reduce=reduce(lambda x,y : x-y , lst)
print(reduce)

-323

In [16]:
from functools import reduce
lst=[i for i in range(1,26)]
reduce=reduce(lambda x,y : x%y , lst)
print(reduce)

1

#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [22]:
lst=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result=list(filter(lambda x: x%2==0 and x%3==0 , lst))
print(result)

[6, 60, 90, 120]

#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [1]:
lst = ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: x == x[::-1], lst))
print(result)

['php', 'aba', 'radar', 'level']