In [1]:
percentage = float(input("Enter your percentage: "))

if percentage > 90:
    grade = "A"
    tax = 15
elif percentage >= 80:
    grade = "B"
    tax = 10
elif percentage >= 60:
    grade = "C"
    tax = 5
else:
    grade = "D"
    tax = 0

print("Grade:", grade)
print("Tax:", tax, "%")

Enter your percentage: 90
Grade: B
Tax: 10 %

In [2]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))
city = input("Enter the city name: ")

if city.lower() == "delhi":
    if cost_price > 100000:
        tax = 5000
    elif cost_price > 50000:
        tax = 2500
    else:
        tax = 1000
else:
    tax = 0

print("Road tax:", tax, "Rs")

Enter the cost price of the bike (in Rs): 24000
Enter the city name: delhi
Road tax: 1000 Rs

In [3]:
city = input("Enter a city name: ")

if city.lower() == "delhi":
    print("Red Fort")
elif city.lower() == "agra":
    print("Taj Mahal")
elif city.lower() == "jaipur":
    print("Jal Mahal")
else:
    print("No monuments found for the given city.")

Enter a city name: agra
Taj Mahal

In [6]:
number = int(input("Enter a number: "))

counter = 0
while number > 10:
    number = number / 3
    counter += 1

print("The number was divided by 3", counter, "times.")

Enter a number: 9
The number was divided by 3 0 times.

In [8]:
count = 1
while count <= 5:
    print("Maddy #", count)
    count += 1

Maddy # 1
Maddy # 2
Maddy # 3
Maddy # 4
Maddy # 5

In [9]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print("\n")
    i += 1

*

* *

* * *

* * * *

* * * * *

In [14]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("1", end=" ")
        j += 1
    print("\n")
    i -= 1

1 1 1 1 1

1 1 1 1

1 1 1

1 1

1

In [15]:
n = 5
for i in range(1, n*2):
    for j in range(abs(n-i)):
        print(" ", end="")
    for j in range((i if i<=n else 2*n-i)*2-1):
        print("*", end="")
    print("")

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [25]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1